<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="xhr.js" defer></script>
    <script src="DOMUtils.js" defer></script>
    <script src="index.js" defer></script>
</head>
<body>
<header>
    <div>
    <div style="margin-left: auto; display: flex; flex-direction: column; max-width: 200px" id="userLoginPanel">
        <input style="display: inline-block; max-width: 100px; margin-top: 5px; margin-bottom: 5px" type="submit" name="register-btn-menu" value="Sign up" id="registerBtnMenuDropdown"/>
        <input style="display: inline-block; max-width: 100px; margin-top: 5px; margin-bottom: 5px" type="submit" name="sign-btn-menu" value="Sign in" id="signBtnMenuDropdown"/>
        <div style="position: absolute; right: 220px; top: 10px; max-width: 350px; background-color: #555555">
            <form style="display: none; padding-left: 5px; padding-right: 5px;" method="post" enctype="multipart/form-data" id="submitLoginForm">
            <div style="display: flex; justify-content: space-between; align-items: center; max-width: 300px; min-width: 200px">
                <label for="loginUsername">username</label>
                <input style="display: inline-block; width: 150px; margin: 5px 10px"
                   type="text" name="username" id="loginUsername" required pattern="[A-Za-z]{2,}"/>
            </div>
                <div style="display: flex; justify-content: space-between; align-items: center; max-width: 300px; min-width: 200px">
            <label for="loginPassword">password</label>
            <input style="display: inline-block; width: 150px; margin: 5px 10px"
                   type="password" name="password" id="loginPassword" required/>
                </div>
                <div>
            <input style="display: inline-block; max-width: 200px; margin-top: 5px; margin-bottom: 5px; margin-left: auto"
                   type="submit" name="submitLoginForm" id="submitLoginBtn" value="Log in"/>
                </div>
            </form>

            <form method="post" style="padding-left: 5px; padding-right: 5px;" enctype="multipart/form-data" id="submitSignUpForm">
                <div style="display: flex; justify-content: space-between; align-items: center; max-width: 300px; min-width: 200px">
                    <label for="loginUsername">username</label>
                    <input style="display: inline-block; width: 150px; margin: 5px 10px"
                           type="text" name="username" id="signUsername" required pattern="[A-Za-z]{2,}"/>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; max-width: 300px; min-width: 200px">
                    <label for="loginPassword">password</label>
                    <input style="display: inline-block; width: 150px; margin: 5px 10px"
                           type="password" name="password" id="signPassword" required/>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center; max-width: 300px; min-width: 200px">
                    <label for="loginPassword">e-mail</label>
                    <input style="display: inline-block; width: 150px; margin: 5px 10px"
                           type="email" name="mail" id="signMail" required/>
                </div>
                <div>
                    <input style="display: inline-block; max-width: 200px; margin-top: 5px; margin-bottom: 5px; margin-left: auto"
                           type="submit" name="submitLoginForm" id="submitSignUpBtn" value="Register"/>
                </div>
            </form>
        </div>
    </div>
    </div>
</header>
<!--<h1 class="main-header-caption">You are on the best page for study English by exercises, aga</h1>-->
<!--<section id="createTaskSection">
    <form method="post" enctype="multipart/form-data" id="submitTaskForm">
        <div class="create-task-label-input">
            <label for="taskNameInput">Task name: </label>
            <input class="create-task-input" type="text" name="taskName" id="taskNameInput"/>
        </div>
        <div class="create-task-label-input">
            <label for="taskDescInput">Task description: </label>
            <input class="create-task-input" type="text" name="taskDesc" id="taskDescInput"/>
        </div>
        <div class="create-task-label-input">
            <label for="taskSubmit">Submit task</label>
            <input class="create-task-submit" type="submit" name="taskSubmit" id="taskSubmit"/>
        </div>
    </form>
</section>-->
</body>
</html>